#notepad-dialog {
	max-width: 50vw;
	border-radius: 0.5em;
	padding: 0;
	overflow: visible;
	scale: 0;
	transition: scale 0.6s ease-out, translate 0.6s ease-out;

	&::backdrop {
		background-color: light-dark(hsl(0, 0%, 50%, 0.4), hsl(0, 0%, 20%, 0.4));
	}

	&[open] {
		@starting-style {
			scale: 0;
			translate: 0 10%;
		}

		scale: 1;
		translate: 0 0;
	}

	&.new {
		--top: 27%;
		--origin: bottom right;
		--translate: -7em;
	}
}

#notepad-dialog {
	background-image: var(--bg-img);
	background-position-x: right;
	background-position-y: bottom;

	&:hover atom-icon[ico="close-circle"] {
		opacity: 0.1;
	}
}

#notepad-dialog > header {
	padding-left: 0.4em;
	padding-top: 0.4em;
	position: relative;

	&:hover > atom-icon[ico="close-circle"] {
		opacity: 1;
		scale: 1.2;
	}

	& input {
		width: 90%;
		border: none;
		background-color: inherit;
		color: inherit;
		font-size: inherit;
		font-weight: bold;

		&:focus {
			outline: none;
		}
	}

	& > atom-icon[ico="close-circle"] {
		position: absolute;
		right: -0.6em;
		top: -0.8em;
		opacity: 0;
		transition: opacity 400ms ease-out;

		& svg {
			height: 1.4em;
		}
	}
}
