* {
	box-sizing: border-box;
}

:host {
	color-scheme: light dark;
	--card: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--main-clr: blueviolet;
	--border: 1px solid #ccc;
}

:host([popover]) {
	position: absolute;
	border: none;
	margin: 0;
	border-radius: 0.4em;
	box-shadow: var(--card);
	color: light-dark(black, white);
	background-color: light-dark(hsl(0, 0%, 94%), hsl(0, 0%, 20%));
	inset: unset;
	overflow: visible;
}

:host {
	min-width: 120px;
	font-size: 16px;
	padding-block: 4px;

	& > svg {
		margin-left: 8px;
	}
}

input[name="toggle-more-action"]:checked + txt-select-more-action,
input[name="toggle-more-action"]:checked + editfield-select-more-action,
input[name="toggle-image-edit"]:checked + img-edit-tools-popup {
	display: block;

	& + svg path {
		d: path("M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z");
	}
}

txt-select-more-action,
editfield-select-more-action,
img-edit-tools-popup {
	display: none;
	min-width: 26ch;
	position: absolute;
	top: 30px;
	left: 30%;
	padding: 0.4em;
	border-radius: 0.4em;
	box-shadow: var(--card);
	background-color: light-dark(hsl(0, 0%, 94%), hsl(0, 0%, 20%));

	& li {
		list-style-type: none;
		display: flex;
		align-items: center;
		column-gap: 8px;
		margin-bottom: 5px;
		cursor: pointer;

		& svg:last-child {
			margin-left: auto;
		}
	}
}

@scope (img-edit-tools-popup) {
	.input-box {
		display: none;
	}

	input[type="checkbox"] {
		scale: 1.2;
	}

	input[type="number"] {
		width: 7ch;
	}

	input[type="text"] {
		width: 32ch;
		border: var(--border);
		border-radius: 4px;
		margin-left: 25px;
		padding: 4px;
	}

	.small {
		font-size: small;
	}

	button {
		display: block;
		margin-inline: auto;
		background-color: var(--main-clr);
		box-shadow: var(--card);
	}

	li:has(input:checked) {
		& .input-box {
			display: block;
		}

		&.resize-img {
			min-width: 32ch;
		}
	}
}

extract-data-type {
	padding: 8px;
	position: absolute;
	top: 3em;
	left: 0;
	display: flex;
	column-gap: 5px;
	border-radius: 0.4em;
	box-shadow: var(--card);
	background-color: light-dark(white, hsl(0, 0%, 20%));
	transform-origin: top;
	scale: 1 0;
	transition: scale 200ms ease-out;

	&::before {
		content: "";
		display: flex;
		width: 20px;
		height: 12px;
		position: absolute;
		z-index: 11;
		top: -10px;
		inset-inline: 0;
		margin-inline: auto;
		background-color: inherit;
		clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	}

	& input {
		border: var(--border);
		border-radius: 0.4em;
		padding: 0.3em;
	}

	&:focus-within {
		scale: 1 1;
	}
}

svg {
	fill: light-dark(hsl(0, 0%, 5%), white);
	height: 20px;
	width: 20px;
	vertical-align: middle;
	scale: 1;
	transition: scale 200ms ease-out;
	cursor: pointer;

	&:hover {
		scale: 1.2;
	}

	&.auto-fix path {
		d: path(
			"M7.5,5.6L5,7L6.4,4.5L5,2L7.5,3.4L10,2L8.6,4.5L10,7L7.5,5.6M19.5,15.4L22,14L20.6,16.5L22,19L19.5,17.6L17,19L18.4,16.5L17,14L19.5,15.4M22,2L20.6,4.5L22,7L19.5,5.6L17,7L18.4,4.5L17,2L19.5,3.4L22,2M13.34,12.78L15.78,10.34L13.66,8.22L11.22,10.66L13.34,12.78M14.37,7.29L16.71,9.63C17.1,10 17.1,10.65 16.71,11.04L5.04,22.71C4.65,23.1 4,23.1 3.63,22.71L1.29,20.37C0.9,20 0.9,19.35 1.29,18.96L12.96,7.29C13.35,6.9 14,6.9 14.37,7.29Z"
		);
	}

	&.chev-down path {
		d: path("M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z");
	}

	&.download path {
		d: path("M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z");
	}

	&.explain path {
		d: path(
			"m 0.45735153,7.956341 v 2.063394 a 0.72247686,0.72247686 0 0 0 1.04759137,0.644449 l 1.280229,-0.644449 0.5447477,-0.2745413 0.01734,-0.00867 L 5.3759743,8.7134938 5.4771215,8.6614754 6.4336808,8.1803058 7.3049879,7.7410399 a 0.72247686,0.72247686 0 0 0 0,-1.2903437 L 6.4336801,6.0099882 5.4771208,5.5288187 5.3759739,5.4768004 3.3472589,4.453773 3.3299196,4.4465484 2.7851719,4.1720072 1.5049429,3.5261128 A 0.72247686,0.72247686 0 0 0 0.45735153,4.1705623 Z M 10.933266,4.8785895 a 1.0837153,1.0837153 0 0 0 0,2.1674306 h 10.114676 a 0.36123843,0.36123843 0 0 1 0.361239,0.3612384 V 19.689365 a 0.36123843,0.36123843 0 0 1 -0.361239,0.361239 H 7.3208817 A 0.36123843,0.36123843 0 0 1 6.9596432,19.689365 V 11.7479 a 1.0837153,1.0837153 0 0 0 -2.1674305,0 v 7.941465 c 0,1.395825 1.1328437,2.528669 2.528669,2.528669 H 21.047942 a 2.5286689,2.5286689 0 0 0 2.52867,-2.528669 V 7.4072585 a 2.5286689,2.5286689 0 0 0 -2.52867,-2.528669 z M 10.21079,10.658405 a 1.0837153,1.0837153 0 0 0 0,2.167429 h 7.947246 a 1.0837153,1.0837153 0 0 0 0,-2.167429 z M 9.1270738,15.354503 A 1.0837153,1.0837153 0 0 1 10.21079,14.270788 h 5.057338 a 1.083716,1.083716 0 0 1 0,2.167432 H 10.21079 A 1.0837153,1.0837153 0 0 1 9.1270738,15.354503"
		);
	}

	&.extract-data path {
		d: path(
			"M2 2h20v11H4v7h9v2H2zm2 9h16V4H4zm1.998-4.5h2.004v2.004H5.998zM17.75 16a1.75 1.75 0 1 0 0 3.5a1.75 1.75 0 0 0 0-3.5M14 17.75a3.75 3.75 0 1 1 7.013 1.849l1.651 1.651l-1.414 1.414l-1.651-1.65A3.75 3.75 0 0 1 14 17.75M5.998 15.5h2.004v2.004H5.998z"
		);
	}

	&.grammar path {
		d: path(
			"M12 24H.032V12a12 12 0 0 1 3.504-8.486A11.92 11.92 0 0 1 12 0c3.305 0 6.297 1.344 8.463 3.514c2.164 2.172 3.505 5.172 3.505 8.486s-1.338 6.314-3.505 8.486A11.92 11.92 0 0 1 12 24m2.889-13.137l-1.271 2.205h4.418c-.505 2.882-3.018 5.078-6.036 5.078c-3.38 0-6.132-2.757-6.132-6.146S8.618 5.854 12 5.854c1.821 0 3.458.801 4.584 2.069l1.143-1.988a8.3 8.3 0 0 0-5.725-2.29c-4.6 0-8.332 3.74-8.332 8.355s3.73 8.354 8.332 8.354s8.332-3.739 8.332-8.354c0-.387-.029-.765-.079-1.137z"
		);
	}

	&.collapse path {
		d: path(
			"M4 14v-2h16v2zm0-3V9h16v2zm7 11v-3.2l-1.6 1.6L8 19l4-4l4 4l-1.4 1.4l-1.6-1.55V22zm1-14L8 4l1.4-1.4L11 4.2V1h2v3.2l1.6-1.6L16 4z"
		);
	}

	&.compress path {
		d: path(
			"M19.5,3.09L20.91,4.5L16.41,9H20V11H13V4H15V7.59L19.5,3.09M20.91,19.5L19.5,20.91L15,16.41V20H13V13H20V15H16.41L20.91,19.5M4.5,3.09L9,7.59V4H11V11H4V9H7.59L3.09,4.5L4.5,3.09M3.09,19.5L7.59,15H4V13H11V20H9V16.41L4.5,20.91L3.09,19.5Z"
		);
	}

	&.done path {
		d: path(
			"M0.41,13.41L6,19L7.41,17.58L1.83,12M22.24,5.58L11.66,16.17L7.5,12L6.07,13.41L11.66,19L23.66,7M18,7L16.59,5.58L10.24,11.93L11.66,13.34L18,7Z"
		);
	}

	&.expand path {
		d: path("M4 20h16v2H4zM4 2h16v2H4zm9 7h3l-4-4l-4 4h3v6H8l4 4l4-4h-3z");
	}

	&.img-edit path {
		d: path(
			"M22.7 14.3L21.7 15.3L19.7 13.3L20.7 12.3C20.8 12.2 20.9 12.1 21.1 12.1C21.2 12.1 21.4 12.2 21.5 12.3L22.8 13.6C22.9 13.8 22.9 14.1 22.7 14.3M13 19.9V22H15.1L21.2 15.9L19.2 13.9L13 19.9M11.21 15.83L9.25 13.47L6.5 17H13.12L15.66 14.55L13.96 12.29L11.21 15.83M11 19.9V19.05L11.05 19H5V5H19V11.31L21 9.38V5C21 3.9 20.11 3 19 3H5C3.9 3 3 3.9 3 5V19C3 20.11 3.9 21 5 21H11V19.9Z"
		);
	}

	&.OCR path {
		d: path(
			"M2 5V19H14V17H12C10.89 17 10 16.11 10 15V9C10 7.89 10.89 7 12 7H14V5M14 7V9H16V7M14 9H12V15H14M14 15V17H16V15M5 7H7C8.11 7 9 7.89 9 9V15C9 16.11 8.11 17 7 17H5C3.89 17 3 16.11 3 15V9C3 7.89 3.89 7 5 7M17 7V17H19V13H20V14H21V17H23V14H22V12H23V8H22V7M5 9V15H7V9M19 9H21V11H19Z"
		);
	}

	&.object path {
		d: path(
			"M11,13.5V21.5H3V13.5H11M9,15.5H5V19.5H9V15.5M12,2L17.5,11H6.5L12,2M12,5.86L10.08,9H13.92L12,5.86M17.5,13C20,13 22,15 22,17.5C22,20 20,22 17.5,22C15,22 13,20 13,17.5C13,15 15,13 17.5,13M17.5,15A2.5,2.5 0 0,0 15,17.5A2.5,2.5 0 0,0 17.5,20A2.5,2.5 0 0,0 20,17.5A2.5,2.5 0 0,0 17.5,15Z"
		);
	}

	&.pin path {
		stroke: currentColor;
		fill: none;
		d: path(
			"m17.942 6.076l2.442 2.442a1.22 1.22 0 0 1-.147 1.855l-1.757.232a1.7 1.7 0 0 0-.94.452c-.72.696-1.453 1.428-2.674 2.637c-.21.212-.358.478-.427.769l-.94 3.772a1.22 1.22 0 0 1-1.978.379l-3.04-3.052l-3.052-3.04a1.22 1.22 0 0 1 .379-1.978l3.747-.964a1.8 1.8 0 0 0 .77-.44c1.379-1.355 1.88-1.855 2.66-2.698c.233-.25.383-.565.428-.903l.232-1.783a1.22 1.22 0 0 1 1.856-.146zm-9.51 9.498L3.256 20.75"
		);
	}

	&.pinned path {
		d: path(
			"M21.447 9.559a1.8 1.8 0 0 1-.25.82a2 2 0 0 1-.56.63a.7.7 0 0 1-.34.13l-1.76.23a1 1 0 0 0-.52.26c-.53.51-1.07 1-1.81 1.78l-.85.84a.93.93 0 0 0-.23.41l-.94 3.78a.6.6 0 0 1 0 .12a2 2 0 0 1-1.44 1.15h-.36a2.3 2.3 0 0 1-.58-.08a1.94 1.94 0 0 1-.81-.49l-2.54-2.53l-4.67 4.67a.75.75 0 0 1-1.06-1.06l4.67-4.67l-2.5-2.5a2 2 0 0 1-.48-.82a1.8 1.8 0 0 1-.05-.95a1.94 1.94 0 0 1 .39-.85a2 2 0 0 1 .75-.58h.12l3.74-1a1 1 0 0 0 .44-.25c1.39-1.37 1.87-1.85 2.63-2.67a.86.86 0 0 0 .23-.5l.24-1.77a.7.7 0 0 1 .13-.35a2 2 0 0 1 2.28-.69a2 2 0 0 1 .72.46l4.88 4.9a2 2 0 0 1 .57 1.55z"
		);
	}

	&.prompt path {
		stroke-width: 2;
		fill: none;
		stroke: currentColor;
		d: path(
			"m7.5 10l2.5 2.5L7.5 15m4.5 0h4M6 5h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2"
		);
	}

	&.question path {
		d: path(
			"M11,18H13V16H11V18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,6A4,4 0 0,0 8,10H10A2,2 0 0,1 12,8A2,2 0 0,1 14,10C14,12 11,11.75 11,15H13C13,12.75 16,12.5 16,10A4,4 0 0,0 12,6Z"
		);
	}

	&.remove-text path {
		d: path("M7 6.2V5h12v1.2M7 19h6m.2-14l-1.677 6.523M9.6 19l1.029-4M5 5l6.523 6.523M19 19l-7.477-7.477");
	}

	&.remove-background path {
		d: path("m4 8l4-4m6 0L4 14m0 6L20 4m0 6L10 20m10-4l-4 4");
	}

	&.replace-background path {
		d: path(
			"M3 9.65V7.525L7.525 3H9.65zm0-4.9V3h1.75zm13.175 1.675q-.25-.275-.537-.537t-.588-.463L17.475 3H19.6zM5.5 14.975l1.925-1.925q.175.275.363.5t.412.425q-.7.175-1.412.438t-1.288.562m12-4.925V10q0-.475-.075-.925T17.2 8.2L21 4.4v2.15zM10.9 4.6L12.525 3h2.125l-1.6 1.6q-.275-.05-.525-.075T12 4.5t-.55.025t-.55.075M3 14.625V12.5l3.6-3.6q-.05.275-.075.55T6.5 10t.025.525t.075.5zM20.725 16.7q-.2-.3-.462-.575t-.563-.5l1.3-1.3v2.125zm-2.9-2.05q-.175-.075-.35-.138t-.35-.112q-.225-.075-.437-.15t-.438-.125L21 9.35v2.15zM12 14q-1.65 0-2.825-1.175T8 10t1.175-2.825T12 6t2.825 1.175T16 10t-1.175 2.825T12 14m-8 7v-1.775q0-.85.425-1.575t1.175-1.1q1.275-.65 2.888-1.1T12 15t3.513.45t2.887 1.1q.75.375 1.175 1.1T20 19.225V21z"
		);
	}

	&.resize path {
		d: path(
			"M10.59,12L14.59,8H11V6H18V13H16V9.41L12,13.41V16H20V4H8V12H10.59M22,2V18H12V22H2V12H6V2H22M10,14H4V20H10V14Z"
		);
	}

	&.simplify path {
		d: path(
			"M18.25 17C18.25 17.88 18.07 18.74 17.71 19.53H16.31C17.71 17.15 16.91 14.09 14.53 12.69C13.76 12.24 12.89 12 12 12C9.24 12 7 9.76 7 7C7 4.24 9.24 2 12 2C14.76 2 17 4.24 17 7H15.75C15.75 4.93 14.07 3.25 12 3.25C9.93 3.25 8.25 4.93 8.25 7C8.25 9.07 9.93 10.75 12 10.75C15.45 10.75 18.25 13.56 18.25 17M6.29 19.53C5.93 18.74 5.75 17.87 5.75 17H7C7 17.93 7.25 18.79 7.69 19.53H6.29M18.25 20.75V22H5.75V20.75H9.5V15.75H8.25V14.5H15.75V15.75H14.5V20.75H18.25M13.25 15.75H10.75V20.75H13.25V15.75M14.44 7.07C14.4 8.4 13.33 9.47 12 9.5C10.62 9.46 9.53 8.32 9.57 6.94C9.6 5.61 10.67 4.53 12 4.5C13.38 4.54 14.47 5.68 14.44 7.07M13.25 7C13.25 6.31 12.69 5.75 12 5.75C11.31 5.75 10.75 6.31 10.75 7C10.75 7.69 11.31 8.25 12 8.25C12.69 8.25 13.25 7.69 13.25 7Z"
		);
	}

	&.summary path {
		d: path(
			"M7.75 9.25a1 1 0 1 0 0-2a1 1 0 0 0 0 2m3.5-1.75a.75.75 0 0 0 0 1.5h5.5a.75.75 0 0 0 0-1.5zm0 3.75a.75.75 0 1 0 0 1.5h5.5a.75.75 0 1 0 0-1.5zm-.75 4.5a.75.75 0 0 1 .75-.75h5.5a.75.75 0 1 1 0 1.5h-5.5a.75.75 0 0 1-.75-.75M8.75 12a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-1 4.75a1 1 0 1 0 0-2a1 1 0 0 0 0 2M6.25 3A3.25 3.25 0 0 0 3 6.25v11.5A3.25 3.25 0 0 0 6.25 21h11.5A3.25 3.25 0 0 0 21 17.75V6.25A3.25 3.25 0 0 0 17.75 3zM4.5 6.25c0-.966.784-1.75 1.75-1.75h11.5c.966 0 1.75.784 1.75 1.75v11.5a1.75 1.75 0 0 1-1.75 1.75H6.25a1.75 1.75 0 0 1-1.75-1.75z"
		);
	}

	&.read-aloud path {
		d: path(
			"M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z"
		);
	}

	&.translate path {
		d: path(
			"M12.87,15.07L10.33,12.56L10.36,12.53C12.1,10.59 13.34,8.36 14.07,6H17V4H10V2H8V4H1V6H12.17C11.5,7.92 10.44,9.75 9,11.35C8.07,10.32 7.3,9.19 6.69,8H4.69C5.42,9.63 6.42,11.17 7.67,12.56L2.58,17.58L4,19L9,14L12.11,17.11L12.87,15.07M18.5,10H16.5L12,22H14L15.12,19H19.87L21,22H23L18.5,10M15.88,17L17.5,12.67L19.12,17H15.88Z"
		);
	}

	&.visualize path {
		d: path("M16,11.78L20.24,4.45L21.97,5.45L16.74,14.5L10.23,10.75L5.46,19H22V21H2V3H4V17.54L9.5,8L16,11.78Z");
	}

	&.write path {
		d: path(
			"M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"
		);
	}
}
